{% include '@vmcore/layout/header.html.twig' %}
{{ page.breadcrumb }}
{{ page.highlighted }}
{{ page.pre_content }}
<main>
  {{ page.content }}
</main>
{% include '@vmcore/layout/footer.html.twig' %}
