.pgr {
  padding: .5em 0;
  margin: 0;
  text-align: center;
  line-height: 1;
}
.pgr li {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid #0b64a3;
}
.pgr li,
.pgr li[data-t='e']:hover {
  background: #0b64a3;
  color: #fff;
}
.pgr li[data-t='a'],
.pgr li:hover {
  background: #fff;
  color: #0b64a3;
}
.pgr li[data-t='a'] {
  padding: .5em .7em;
}
.pgr li[data-t='e'] {
  padding: .5em;
}
.pgr li[data-t='e']:before {
  content: '...';
}
.pgr li a {
  padding: .5em .7em;
  display: block;
  text-decoration: none;
  color: inherit;
}
